/* styles.css */
:root {
    --primary-color: #8db0a3;
    --hover-color: #272832;
    --accent-color: #0071FF;
    --text-color: #c9c9c9;
    --container-color: #7fa1ba;
    --primary-container-color: #3e4157;
    --light-shades: #EFEEE9;
    --light-accent: #B97274;
    --main-brand-color: #8CA3A9;
    --main-brand-dark-accent: #5b7075;
    --dark-accent: #A8574F;
    --dark-shades: #404F4E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('/images/background.jpg') center center repeat;
    background-size: auto;
    background-size: auto;
    min-height: 10dvh;
    max-height: 30dvh;
}

h1{
    margin: 2dvh;
    text-align: center;
    color: var(--light-shades);
}

h2{
    margin: 2dvh;
}

nav {
    background-color: var(--light-accent);
}

nav ul{
    list-style: none;
    display: flex;
}

nav .home-li{
    margin-right: auto;
}

nav a{
    display: flex;
    text-decoration: none;
    color: var(--dark-shades);
    padding: 1em 2em;
    transition: background-color 150ms ease;
}

nav a:hover{
    background-color: var(--dark-accent);
}

#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}
#close-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

@media screen and (max-width: 700px){
    #open-sidebar-button, #close-sidebar-button{
        display: block;
    }

    nav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100dvh;
        width: min(15em, 100%);
        z-index: 10;
        transition: right 300ms ease-out;
    }

    nav.show{
        right: 0;
    }

    nav ul{
        width: 100%;
        flex-direction: column;
    }

    nav a{
        width: 100%;
        padding-left: 2.5em;
    }
}




footer {
    text-align: center;
    padding: 1em 0;
    margin-top: 1em;
}
